<div class="about-info">
	<h1 class="about-info__title">About</h1>
	<p class="about-info__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti dolorum, cumque qui magnam cum soluta cupiditate expedita. Dolore, illum. Dolor, quasi! Totam iusto amet eius nostrum commodi, veritatis suscipit necessitatibus!</p>
</div>
