<div class="presentation-box">
	<h1 class="presentation-box__title">Notes app nodejs and mongodb</h1>
	<p class="presentation-box__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A amet magni temporibus corporis numquam nemo eveniet eos quibusdam dicta unde cupiditate, ipsa fugit mollitia et quidem eligendi! Beatae, odit totam?</p>
	<button class="presentation-box__btn"><i class="bi bi-gem presentation-box__btn-icon"></i>CamiloG</button>
</div>
