<header class="header-index">
	<nav>
		<ul class="header-index__ul">
			<li class="header-index__li title"><a href="/">Notes app</a></li>
			<li class="header-index__li title"><a href="/notes">Notes</a></li>
			<li class="header-index__li title"><a href="/notes/add">Add notes</a></li>
			<li class="header-index__li"><a href="/about">About</a></li>
			<li class="header-index__li"><a href="/users/signin">Login</a></li>
			<li class="header-index__li"><a href="/users/signup">Register</a></li>
			<li class="header-index__li"><a href="/users/logout">Logout</a></li>
		</ul>
	</nav>
</header>
