{{#if success_msg}}
	<div class="message" id="message">
		<p class="message__text">{{success_msg}}</p>
	</div>
{{/if}}

{{#if error_msg}}
	<div class="message--error" id="message">
		<p class="message--error__text">{{error_msg}}</p>
	</div>
{{/if}}
