<div class="form-login-user">
	<h1 class="form-login-user__title">Register</h1>
	<form action="/users/signup" method="POST">
		<input class="form-login-user__input" type="text" name="name" id="" placeholder="Name" value="{{name}}" required/>
		<input class="form-login-user__input" type="email" name="email" id="" placeholder="Email"  value="{{email}}" required/>
		<input class="form-login-user__input" type="password" name="password" id="" placeholder="Password"  value="{{password}}" required/>
		<input class="form-login-user__input" type="password" name="confirm_password" id="" placeholder="Confirm password" required/>
		<button class="form-login-user__btn">Signup</button>
	</form>
</div>
