<div class="form-login-user">
	<h1 class="form-login-user__title">Login</h1>
	<img class="form-login-user__img" src="/assets/img/nest.png" alt="Imagen of login">
	<form action="/signin" method="POST">
		<input class="form-login-user__input" type="email" name="email" id="" placeholder="Email" required/>
		<input class="form-login-user__input" type="password" name="password" id="" placeholder="Password" required/>
		<button class="form-login-user__btn">Join</button>
	</form>
</div>
